/* FONT PATH
 * -------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);
@font-face
{
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;

    src: url('../font/fontawesome-webfont.eot?v=4.3.0');
    src: url('../font/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../font/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../font/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}
footer i.github
{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;

    display: inline-block;

    transform: translate(0, 0);

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
footer i.github
{
    font-size: 1.33333333em;
    line-height: .75em;

    vertical-align: -15%;
}
.fa-lifooter i.github
{
    left: -1.85714286em;
}
footer i.github.pull-left
{
    margin-right: .3em;
}
footer i.github.pull-right
{
    margin-left: .3em;
}
footer i.github:before
{
    content: '\f09b';
}
header
{
    padding: 1rem;

    color: #fff;
    background-color: #111;
}
header h1
{
    font-size: 10.5rem;

    margin: .5rem auto;

    text-transform: uppercase;
}
footer
{
    line-height: 1.5;

    padding: 1.5rem;

    color: #ddd;
    background-color: #111;
}
footer a:hover
{
    color: #01ff70;
}
footer a:link,
footer a:visited
{
    color: #ddd;
}
footer #github-btn
{
    overflow: hidden;

    width: 170px;
    height: 20px;

    border: none;
}
body
{
    font-family: 'Open Sans', sans-serif;

    margin: 0;
    padding: 0;

    background-color: #01ff70;
}
.profile
{
    line-height: 6.8rem;

    margin-top: 0;
    /** Profile Name */
    /** Profile Properties */
}
.profile > dt
{
    font-size: 8.5rem;
    font-weight: 800;
    line-height: 11.3rem;

    margin-bottom: 3.5rem;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background-color: #111;
}
.profile > dd dt
{
    font-size: 11rem;
    font-weight: 800;
}
.profile > dd dt a
{
    text-decoration: none;

    color: #111;
}
.profile > dd dt a:hover:before
{
    content: '#';

    color: #2ecc40;
}
.profile > dd dd
{
    font-size: 6.8rem;
    font-weight: 600;

    margin-bottom: 2.5rem;

    color: #fff;
}
