@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);
header
{
    padding: 1rem;

    color: #fff;
    background-color: #111;
}
header h1
{
    font-size: 10.5rem;

    margin: .5rem auto;

    text-transform: uppercase;
}
footer
{
    font-size: .8rem;
    line-height: 1.5;

    padding: 1.5rem;

    color: #ddd;
    background-color: #111;
}
footer a:hover
{
    color: #01ff70;
}
footer a:link,
footer a:visited
{
    color: #ddd;
}
footer #github-btn
{
    overflow: hidden;

    width: 170px;
    height: 20px;

    border: none;
}
body
{
    font-family: 'Open Sans', sans-serif;

    margin: 0;
    padding: 0;

    background-color: #01ff70;
}
dl#http-status-codes
{
    line-height: 6.8rem;

    padding: 1.5rem;
}
dl#http-status-codes dt
{
    font-size: 11rem;
    font-weight: 800;

    color: #111;
}
dl#http-status-codes dt a
{
    text-decoration: none;

    color: #111;
}
dl#http-status-codes dt a:hover:before
{
    content: '#';

    color: #2ecc40;
}
dl#http-status-codes dd
{
    font-size: 6.8rem;
    font-weight: 600;

    margin-bottom: 2.5rem;

    color: #fff;
}
