body {
  background-color: #01ff70;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #111111;
  color: #ffffff;
  padding: 1rem;
}
header h1 {
  margin: 0.5rem auto;
  font-size: 10.5rem;
}
footer {
  background-color: #111111;
  color: #ffffff;
  padding: 1rem;
}
footer a {
  color: #ffffff;
}
footer a:hover {
  color: #01ff70;
}
dl#status-codes {
  line-height: 6.8rem;
  padding: 1.5rem;
}
dl#status-codes dt {
  color: #111111;
  font-size: 11rem;
  font-weight: 800;
}
dl#status-codes dt a {
  color: #111111;
  text-decoration: none;
}
dl#status-codes dt a:hover:before {
  color: #2ecc40;
  content: '#';
}
dl#status-codes dd {
  color: #ffffff;
  font-size: 6.8rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
