<footer>
    {{!--<iframe id="github-btn" src="https://ghbtns.com/github-btn.html?user=radioactivehamster&repo=http-status-codes&type=star&count=false"></iframe>--}}
    {{! @link http://n.whatwg.org/work (???)}}
    <small>
        <i class="github" aria-hidden="true" role="presentation"></i>
        <a class="source-code" href="https://github.com/radioactivehamster/http-status-codes/tree/gh-pages">Source Code</a> |
        Copyright &copy; <time>2015</time>
        <a class="h-card" rel="me" href="http://www.jamesbenner.com">James Benner</a>.
        Except where otherwise noted, source code is licensed under a
        <a rel="license" href="http://www.tldrlegal.com/license/mit-license">MIT License (Expat)</a>.
    </small>
</footer>
