<footer>
    <iframe id="github-btn" src="https://ghbtns.com/github-btn.html?user=radioactivehamster&repo=http-status-codes&type=star&count=true"></iframe>
    <div class="h-event">
        <span class="p-name">Copyright</span> &copy; <time class="dt-start">2015</time>
        <a class="p-organizer h-card" rel="me" href="jamesbenner.com">James Benner</a>.
        Except where otherwise noted, source code is licensed under a
        <a rel="license" href="http://www.tldrlegal.com/license/mit-license">MIT License (Expat)</a>.
    </div>
</footer>
