<footer vocab="http://schema.org/" typeof="WebPage">
    <iframe src="https://ghbtns.com/github-btn.html?user=radioactivehamster&repo=http-status-codes&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    <div class="h-event"><span class="p-name">Copyright</span> &copy; <time class="dt-start">2015</time> <a class="h-card" rel="me" href="jamesbenner.com">James Benner</a></div>
</footer>
