<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HTTP Status Codes | Radioactive Hamster</title>
  <link rel="canonical" href="http://radioactivehamster.github.io/http-status-codes/">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
  <link rel="stylesheet" href="asset/stylesheet/main.css">
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
  <header>
    <h1>HTTP STATUS CODES</h1>
  </header>
  <article id="content">
    {{{content}}}
  </article>
  {{> footer}}
</body>
</html>
