<dl property="http:Response" id="{{statusCode}}">
    <dt property="http:statusCodeValue"><a href="#{{statusCode}}">{{statusCode}}</a></dt>
    <dd property="http:reasonPhrase">{{reasonPhrase}}</dd>
</dl>
