<script>
    var radix = 10;

    $.getJSON('data/http-status-codes.json', function (data) {
        var html = ['<dl class="profile" id="status-codes">'];

        $.each(data, function (key, val) {
            var category  = val;
            category.code = parseInt(key, radix);

            $.each(category['status-codes'], function (key, val) {
                var status  = val;
                status.code = parseInt(key, radix);

                html.push('<dt id="' + status.code + '"><a href="#' + status.code + '">' + status.code + '</a></dt>');
                html.push('<dd class="reason-phrase">' + status['reason-phrase'] + '</dd>');
            });
        });

        html.push('</dl>');
        $('body').append(html.join('\n'));
    });
</script>