<h1>YOLO!!!!</h1>
<script>
    $.getJSON('data/http-status-codes.json', function (data) {
        // $('body').append(JSON.stringify(data, null, 4));
        Object.keys(data).forEach(function (element, index) {
            $('body').append(index + '<br>' + element + '<hr>');
        });
    });
</script>