<h1>YOLO!!!!</h1>
<script>
    $.getJSON('data/http-status-codes.json', function (data) {
        Object.keys(data).forEach(function (element, index) {
            if (index > 0) {
                $('body').append('<hr>');
            }
            $('body').append('<h2>' + element + '</h2>');
            $('body').append('<pre>' + JSON.stringify(data[element], null, 4) + '</pre>');
        });
    });
</script>