footer {
    background-color: @black;
    color: @silver;
    line-height: 1.5;
    padding: 1.5rem;

    a {
        &:link,
        &:visited {
            color: @silver;
            text-decoration: underline dashed @lime;
        }

        &:hover {
            color: @lime;
        }
    }

    // #github-btn {
    //     border: none;
    //     overflow: hidden;
    //     width: 170px;
    //     height: 20px;
    // }

    i.github:extend(.fa all, .fa-lg all, .fa-github all) {}
}
