@node-modules: '../../node_modules';
@import (reference) '@{node-modules}/colors.css/less/colors';

// Font-Awesome dark magic...
@import '@{node-modules}/font-awesome/less/variables';
@fa-font-path: '../font';
@import '@{node-modules}/font-awesome/less/path';
@import (less, reference) '@{node-modules}/font-awesome/css/font-awesome.css';

// And now back to our regulary scheduled program...
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);
@import '_header';
@import '_footer';

body {
    background-color: @lime;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.http-status-codes__title {
    @font-size-definition: 6.8rem;
    @spacing: 3.5rem;

    background-color: @black;
    color: @white;
    font-size: @font-size-definition + 1.7rem;
    font-weight: 900;
    margin-bottom: @spacing;
    padding: @spacing;
    text-align: right;
    text-transform: uppercase;
}

.http-status-codes__title--word {
    display: block;
}

.profile {
    @font-size-definition: 6.8rem;

    line-height: @font-size-definition;
    margin-top: 0;

    /** Properties */
    & > dd {
        dt {
            font-size: 11rem;
            font-weight: 800;

            a {
                color: @black;
                text-decoration: none;

                &:hover {
                    &:before {
                        color: @green;
                        content: '#';
                    }
                }
            }
        }

        dd {
            color: @white;
            font-size: @font-size-definition;
            font-weight: 600;
            margin-bottom: 2.5rem;
        }
    }
}

[property='http:statusCodeValue'] dfn {
    font-style: normal;
}
